<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homepage.dto.Members">
	
	<insert id="join" parameterType="members">
		insert into members (id, pass, email, reg_date, confirm_key, confirm_status)
		values(#{id}, #{pass}, #{email}, #{pic,jdbcType=VARCHAR}, 'false')
	</insert>

</mapper>